{% extends 'base.html' %}
{% load username_capitalize %}
{% load humanize %}
{% block content %}

 <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
                        <img class="col-md-2" src="{{ user.photo.url }}" style="border-radius: 50%;" >

          <h1 class="display-4">{{ user.username|username_capitalize }}'s Dashboard {% if user.is_verified %}
          <i class="fa fa-check-circle" style="font-size:45px;color:greenyellow"></i>
          {% endif %}</h1>
          <p class="lead">Manage your Real Estate account</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Dashboard</li>
        </ol>
      </nav>
    </div>
  </section>








<!-- Alerts -->
{% include 'messages/alerts.html' %}
  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

            <h2>Welcome {{ user.first_name }}
              <a class="btn btn-primary" href="{% url 'update_user_details' user.id %}" style="float: right; margin-right: 20px">Edit Profile</a>
            </h2>

            {% if contacts %}
                {% if user.is_seller %}
                    <p>Here are your Properties that have been enquired about.</p>
                {% else %}
                    <p>Here are the property listings that you have enquired about</p>
                {% endif %}
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Property</th>
                    <th scope="col">Enquiry Date</th>

                    {% if user.is_seller %}
                        <th scope="col">Message</th>
                        <th scope="col">Buyer Details</th>
                    {% endif %}
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                  <tr>
                    <td>{{ contact.property }}</td>
                    <td>{{ contact.contact_date }}</td>
                    {% if user.is_seller %}
                        <td>{{ contact.message }}</td>
                        <td>{{ contact.name }}<br>{{ contact.email }} <br>{{ contact.phone }}</td>
                    {% endif %}
                    <td>
                      <a class="btn btn-light" href="{% url 'property' contact.property_id %}" >View Listing</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% else %}
                <p>You have not made any enquiries </p>
            {% endif %}
        </div>
      </div>
    {% include 'pagination/enquiry_pagination.html' %}
    </div>
  </section>

    {% if user.is_seller %}

    <h2 class="container">Here are your posted properties
     <a class="btn btn-primary" href="{% url 'add_property' %}" style="float: right; margin-right: 20px">Add a Property</a>
    </h2>
    <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if listings %}
          {% for listing in listings %}
            <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="" style="height: 250px">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">&#x20B9; {{ listing.price | intcomma }}</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{ listing.title }}</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }}
                   {{ listing.state }}, {{ listing.zip_code }}</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Sqft: {{ listing.square_ft }}</div>
                <div class="col-6">
                  <i class="fas fa-car"></i> Garage: {{ listing.garage }}</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i> Bedrooms: {{ listing.bedrooms }}</div>
                <div class="col-6">
                  <i class="fas fa-bath"></i> Bathrooms: {{ listing.bathrooms }}</div>
              </div>
              <hr>
{#              <div class="row py-2 text-secondary">#}
{#                <div class="col-12">#}
{#                  <i class="fas fa-user"></i> {{ listing.seller }}</div>#}
{#              </div>#}
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> {{ listing.list_date | timesince }}</div>
              </div>
              <hr>
              <a href="{% url 'property' listing.id %}" class="btn btn-primary btn-block">More Info</a>
                <hr>
              <a class="btn btn-success" href="{% url 'update_property' listing.id %}">Update</a>
                {% if listing.is_published %}
                    &emsp;&emsp;&nbsp;&nbsp;
                    <a class="btn btn-dark" href="{% url 'unpublish' listing.id %}">Hide</a>
                    &emsp;&emsp;&nbsp;
                {% else %}
                    &emsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-info" href="{% url 'publish' listing.id %}">Publish</a>
                    &emsp;&nbsp;&nbsp;&nbsp;
                {% endif %}
{#                <form method="POST">#}
{#                    {% csrf_token %}#}
              <a class="btn btn-danger" href="{% url 'delete_property_confirmation' listing.id %}">Delete</a>
{#                </form>#}

            </div>
          </div>
        </div>
          {% endfor %}
        {% else %}
        <div class = "col-md-12">
          <p> No Listings Available </p>
        </div>

        {% endif %}

      </div>

      {% include 'pagination/listing_pagination.html' %}
    </div>
  </section>
        {% endif %}

{#<img src="{{ user.photo.url }}" alt="">#}
{#<img src="{{ listing.seller.photo.url }}" alt="">#}

{% endblock content %}