{% extends 'base.html' %}

{% load static %}

{##}
{##}
{#We’re reimagining how you buy, sell and rent.#}
{#It’s now easier to get into a place you love. So let’s do this, together.#}


{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Real Estate</h1>
          <p class="lead">We’re reimagining how you buy, sell and rent. It’s now easier to get into a place you love. So let’s do this, together.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>We Search For The Perfect Home</h2>
          <p class="lead">We pick the best sellers for you who are best in class in various aspects</p>
          <img src="{% static 'img/aboutimage.jpg' %}" alt="">
            <hr><div class="col-md-12">
            <h3>High Response Rate</h3>
            <p>We pick sellers for you who give you priority. Over 90% of our top sellers respond to enquiries within the first 24 hours!</p>
            </div>
            <hr><div class="col-md-12">
            <h3>Wide Coverage</h3>
                <p>Sellers with a wide variety of properties are more likely to satisfy your demands. More the options, better is your decision</p>
            </div>
            <hr><div class="col-md-12">
            <h3>Deals Closed</h3>
                <p>We choose sellers who have previously closed deals with similar requirement as you have. They'll understand your needs better.</p>
            </div>
            <hr><div class="col-md-12">
            <h3>Rated & Reviewed</h3>
            <p>estimonials from genuine buyers are the best way to judge a seller. Better the ratings, better will be your experience.</p>
            </div>
            <hr>
                <p class="mt-4">We understand that people everywhere are searching for a home to call their own. We want to make this search as joyful as finally finding the perfect home because we understand that finding a home is much more than an online search!
A home is a cherished memory that lasts forever, it is where the walls embrace memories, the ceilings shelter love and laughter, where the quiet corners offer a much-needed pause and life itself becomes a reason to celebrate.So to make this journey joyful, we begin by partnering with our customers from the start and being there when it matters the most - right from online search to brokers to home loans to paperwork to finally finding that perfect home.
Here, we not only help you search but help you find. we help you find joy.</p>
        </div>

      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4>Each year, our agents help hundreds of thousands of families buy or sell a home</h4>
    <hr>
    <a href="{% url 'properties' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">

          {% if sellers %}
              {% for seller in sellers %}
                 <div class="col-md-4">
                  <img src="{{ seller.photo.url }}" class="rounded-circle mb-3" height="330px">
                  <h4>{{ seller.first_name }} {{ seller.last_name }}</h4>
                  <p class="text-success">
                    <i class="fas fa-award text-success mb-3"></i> Realtor</p>
                  <hr>
                  <p>
                    <i class="fas fa-phone"></i>{{ seller.phone }}</p>
                  <p>
                    <i class="fas fa-envelope-open"></i>{{ seller.email }}</p>
                  </div>
              {% endfor %}

          {% else %}
          <div class="col-md-12">
          <p>No Realtors Available</p>
          </div>
          {% endif %}






      </div>
    </div>
  </section>

{% endblock content %}

